{% extends 'base.html' %}
{% block content %}

<h3 class="center name-header">{{ client.first_name }} {{ client.last_name }}</h3>

<div class="container clearfix">
    <div class="row">
      <div class="col s12">
        <h2 class="header"></h2>
        <div class="card horizontal hoverable center-align">
          <div class="card-image">    
            <img src="https://i.imgur.com/SIPk22s.png">
          </div>
          <div class="card-stacked">
            <div class="card-content">
                <h6>First Name: {{ client.first_name }}</h6>
                <h6>Last Name: {{ client.last_name }}</h6>
                <h6>Phone: {{ client.phone_number }}</h6>
                <h6>Email: {{ client.email_address}}</h6>
                <h6>Payment_method: {{ client.get_payment_method_display }}</h6>  
            </div>
            <div class="card-action clearfix">
              <a class="orange-text" href="{% url 'clients_update' client.id %}">Update</a>
              <a class="red-text" href="{% url 'clients_delete' client.id %}">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}