{% extends 'base.html' %}
{% block content %}
<h1>Search client</h1>

<h4>Filter search</h4>
<div class="row">
  <form action="{% url 'clients_search' %}" method="GET">
    <div class="col s6 input-field">
        <input id="search" type="search" name="firstname" placeholder="First Name" value="{{ values.firstname }}">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
    </div>

    <div class="col s6 input-field">
        <input id="search" type="search" name="lastname" placeholder="Last Name" value="{{ values.lastname }}">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
    </div>

    <div class="col s6 input-field">
        <input id="search" type="search" name="phone" placeholder="Phone Number" value="{{ values.phone }}">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
    </div>

    <div class="col s6 input-field">
        <input id="search" type="search" name="email" placeholder="email" value="{{ values.email }}">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
    </div>

    <br />
    <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
   
  </form>
</div>


<h1>Found Client(s)</h1>
{% if clients %}
{% for client in clients %}

<div class="card">
    <div class="card-content">
        <span class="card-title">
            <h5>First Name: {{ client.first_name }}</h5>
            <h5>Last Name: {{ client.last_name }}</h5>
            <h5>Phone: {{ client.phone_number }}</h5>
            <h5>Payment_method: {{ client.get_payment_method_display }}</h5>
            <!-- <button class="white-text btn green light-4"> -->
            <a href="{% url 'clients_detail' client.id %}">Details</a>
            <!-- </button> -->
            <hr />
        </span>
    </div>
</div>

{% endfor %}
{% else %}

<h2 class="center">No client(s) found</h2>
{% endif %}


{% endblock %}