.env
*.pyc
settings.py
/spa/_pycashe_/
spa/_pycashe_/
/__pycache__/
main_app/__pycache__/
spa/__pycache__/
main_app/__pycache__/
/main_app/__pycache__/

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media


# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# mypy 

.mypy_cache/

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Python # 
*.py[cod] 
*$py.clas

# Backup files # 
*.bak 

# Env #
#######
.env

# Python #
#######
*.pyc
__pycache__/