{% extends 'base.html' %}

{% block content %}
{% if  booking %}
    <h3 class="center name-header">Update booking info</h3>
{% else %}
    <h3 class="center name-header">Add new booking</h3>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table class="striped">
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" class='col s3 white-text btn-small waves-effect waves-light right'>
</form>

    <script>
        //create a datepicker
        var dateEl = document.getElementById('id_date');
        M.Datepicker.init(dateEl, {
          format: 'yyyy-mm-dd',
          defaultDate: new Date(),
          setDefaultDate: true,
          autoClose: true
        });

        var timeEl = document.getElementById('id_time');
         M.Timepicker.init(timeEl, {
             format : 'hh-mm',
             twelveHour: false,
             autoClose: true
         })
      
        // initialize the meal select
        var selectEl = document.getElementById('id_specialist');
        M.FormSelect.init(selectEl);
        
        var selectEl = document.getElementById('id_treatment');
        M.FormSelect.init(selectEl);
        
        
        var selectEl = document.getElementById('id_status');
        M.FormSelect.init(selectEl);
        
        var selectEl = document.getElementById('id_client');
        M.FormSelect.init(selectEl);
        
    </script>
{% endblock %}