{% extends 'base.html' %}

{% block content %}
    <h2 class="center">Delete request for <span class="teal-text">{{ object.name }}</span></h2>
    <div class="delete-form center" >
        
    <form action="" method="POST">
        <div class="delete-form" >
            <h4>Are you sure?</h4>
            {% csrf_token %}
            <input type="submit" value="Yes-Delete" class="btn red">
            <a class="blue-text" href="{% url 'treatments_detail' treatment.id %}">Cancel - Back to {{ object.name }}</a>
        </div>
    </form>
    

{% endblock %}