{% extends 'base.html' %}
{% block content %}

<h2 class="center">Registration form</h2>

    
<div class="container center">
  
    <div class="login-form">
    {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
          <!-- Dropdown Trigger -->
          <a class='dropdown-trigger' href='#' data-target='dropdown1'>Requirements</a>
          <ul id='dropdown1' class='dropdown-content' style="padding:5px">
            <li><b>Username:</b> min 8 chars: include letters, digits and symbols (+/-/@)</li>
            <li class="divider" tabindex="-1"></li>
            <li><p><b>Password:</b> min 8 charasters: letters, digits, symbols;</p></li>         
            <li><p>both passwords have to match;</p></li>
            <li><p>must be unique;</p></li>
            <li><p>cannot be entirely numeric.</p></li>
          </ul>
       
        <form class="col s12" method="post" action="{% url 'signup' %}">
            {% csrf_token %}

            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input  type='text' name='username' id='username' />
                <label for='username'> <i class="material-icons">person_outline</i> Enter your username</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
            
                <input class='validate' type='password' name='password1' id='password1'/>
                <label for='password'><i class="material-icons">person_pin</i> Enter your password</label>
              </div>
            </div>

             <div class='row'>
              <div class='input-field col s12'>
            
                <input class='validate' type='password' name='password2' id='password2' />
                <label for='password'><i class="material-icons">person_pin</i> Enter your password</label>
              </div>
            </div>

            <br />
        
              <div class=' center-align'>
                <input type="submit" value="signup" class='col s6 btn btn-large waves-effect green'>
                <input type="hidden" name="next" value="{{ next }}">
              </div>
            
          </form>
    </div> 
</div>

{% endblock %}

<script>
    $('.dropdown-trigger').dropdown();
</script>

