{% extends 'base.html' %}
{% block content %}

<img style="height: 550px; width: auto; position:absolute; left: 0px; top: 0px; z-index: -1;" class="profile_img"
    src="../static/img/about.jpeg"> 

<div style="display:flex; justify-content: center;" class=" wrapper">
    <div class="testimonial">
        <article style="text-align:center;margin-bottom: 500px;">


            <h1 style="color:#668A61; font: size 20px; font-family: URW Chancery L, cursive;font-weight: bold;">About us
            </h1>
            <img style="height:110px; width: auto; border-radius: 30px;" class="profile_img" src="../static/img/2.jpeg">
            <img style="height:110px; width: auto; border-radius: 30px;" class="profile_img"
                src="../static/img/3-1.jpeg">
            <img style="height:110px; width: auto; border-radius: 30px;" class="profile_img" src="../static/img/9.jpeg">         
            <br>
            <p1 style="color:#7D6608; font-size: 32px; font-family:URW Chancery L, cursive;">Svitlana~</p1>
            <p2 style="color:#7D6608; font-size: 32px; font-family:URW Chancery L, cursive;">Hesham~</p2>
            <p3 style="color:#7D6608; font-size: 32px; font-family:URW Chancery L, cursive;">Olga</p3>
            <br>
            <p
                style="color:#666D71; font-size: 15px; font-family:URW Chancery L, cursive;background-color: beige; padding: 10px;border-radius: 15px;width: 500px;height: auto;">
                Coming from different
                educational backgrounds and work experience, we decided to step into completely new
                field and learn coding.
                Constant support and each other progress - this what kept ourselves motivated and accountable in our
                learning journey.
                During the days of studying, all of us probably have had a thought of how lovely
                would be to spend a day in the SPA, therefore we
                put this idea into our project. So give yourself a moment.. relax.. and WELCOME TO OUR SPA
                &#128524
                </p1>
        </article>

    </div>
</div>

</d {% endblock %}