{% extends 'base.html' %}
{% block content %}




<h3 class ="center"> The purpose of the software</h3>

<br>
<p>
    This software is designed to record and schedule bookings through phone or face to face at SPA.
    There are three modules:
</p>
<h4> Treatments </h4>

<h4> Clients</h4>

<h4> Bookings </h4>


<p class="center"> Find the developers on linkedin: </p>
<div class="center">
    <a href="https://www.linkedin.com/in/hesha/" target="_blank" rel="noopener noreferrer">HESHAM SHAARAWY</a> 
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/olga-osipchuk-bb41ba64/" target="_blank" rel="noopener noreferrer"> OLGA OSIPCHUK</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/svitlana-karahayeva-271062135/" target="_blank" rel="noopener noreferrer">SVITLANA KARAHAYEVA</a>
</div>



{% endblock %}


        
            
 