{% extends 'base.html' %}
{% block content %}

<h4>Filter search</h4>
<div class="row">
  <form action="{% url 'bookings_search' %}" method="GET">
    <div class="col s6 input-field">
        <input id="search" type="search" name="date" placeholder="enter date"  value="">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
    </div>

    <div class="col s6 input-field">
        <input id="search" type="search" name="time" placeholder="time" value="">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
    </div>

    <div class="col s6 input-field">
        <input id="search" type="search" name="treatment" placeholder="treatment" value="">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
    </div>

    <div class="col s6 input-field">
        <input id="search" type="search" name="client" placeholder="by client ID" value="">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
    </div>

    <br />
    <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
   
  </form>
</div>








<h1>All Bookings</h1>
{% if bookings %}
  <table class="striped">
    <thead>
      <tr><th>Date</th>
          <th>TIme</th>
          <th>Client</th>
          <th>Treatment: Category/Description/Price</th>
          <th>Specialist</th>
          <th>Status</th>
          <th>Actions</th>
    
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
        <tr>
          <td>{{booking.date}}</td>
          <td>{{booking.time}}</td>
          <td>{{booking.client}}</td>
          <td>{{booking.treatment}}</td>
          <td>{{booking.get_specialist_display}}</td>
          <td>{{booking.get_status_display}}</td>
          <td>
            <a href="{% url 'bookings_detail' booking.id %}">Details</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% comment %} Pagination {% endcomment %}
  {% if bookings.has_other_pages %}
    <ul class="pagination">
      {% if bookings.has_previous %}
        <li class="waves-effect"><a href="?page={{ bookings.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
      {%else%}
        <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
      {% endif %}

      {% for index in bookings.paginator.page_range %}
        {% if bookings.number == index %}
          <li class="active waves-effect"><a>{{ index }}</a></li> 
        {% else %}
          <li class="waves-effect"><a href="?page={{ index }}">{{ index }}</a></li>
        {% endif %}
      {% endfor %}

      {% if bookings.has_next %}
        <li class="waves-effect"><a href="?page={{ bookings.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
        <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>  
  {% endif %}
{% endif %}

{% endblock %}