{% extends 'base.html' %}
{% block content %}
<h3 class="center-align">All Treatments</h3>

<div class="row filter z-depth-4">
  <form action="{% url 'treatments_search' %}" method="GET">
    <div class="col s6 input-field">
      <label>By Name</label>
      <input id="search" type="search" name="name" value="{{ values.name }}">
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  
    <div class="col s6">
      <label>By Price</label>
      <select class="browser-default" name="price">
        <option value="" disabled selected>Choose price</option>
        {% for key, value in price_choices.items %}
            
          <option value="{{ key }}" 
            {% if key == values.price %}
                selected
            {% endif %}
          >{{ value }}</option>
        {% endfor %}
      </select>
    </div>

    <br />
    <div >
      <input type="submit" value="Search" class='col s12 btn green'>
    </div>
  </form>
</div>
</div>

<!-- List all treatments -->
{% if treatments %}
  {% for treatment in treatments %}
  <div class="container clearfix">
    <div class="row">
      <div class="col s12">
        <h2 class="header"></h2>
        <div class="card horizontal hoverable center-align">
          <div class="card-image">
            
            <img src="{{ treatment.image }}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h6><b>{{ treatment.name }}</b></h6> 
              <p><b>Category:</b> {{ treatment.get_category_display }}</p>
              <p><b>Price:</b> ${{ treatment.price }} CAD</p>     
            </div>
            <div class="card-action">
              <a href="{% url 'treatments_detail' treatment.id %}">Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


  {% comment %} Pagination {% endcomment %}
  {% if treatments.has_other_pages %}
    <ul class="pagination center-align">
      {% if treatments.has_previous %}
        <li class="waves-effect"><a href="?page={{ treatments.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
      {%else%}
        <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
      {% endif %}

      {% for index in treatments.paginator.page_range %}
        {% if treatments.number == index %}
          <li class="active waves-effect"><a>{{ index }}</a></li> 
        {% else %}
          <li class="waves-effect"><a href="?page={{ index }}">{{ index }}</a></li>
        {% endif %}
      {% endfor %}

      {% if treatments.has_next %}
        <li class="waves-effect"><a href="?page={{ treatments.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
        <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>  
  {% endif %}
{% endif %}

{% endblock %}