{% extends 'base.html' %}
{% block content %}
<h1>All Treatments</h1>


<h4>Filter search</h4>
<div class="row">
  <form action="{% url 'treatments_search' %}" method="GET">
    <div class="col s6 input-field">
      <input id="search" type="search" name="keywords" placeholder="Name keywords" value="{{ values.keywords }}">
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  
    <div class="col s6">
      <label>By Price</label>
      <select class="browser-default" name="price">
        <option value="" disabled selected>Choose your option</option>
        {% for key, value in price_choices.items %}
          <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>

    <br />

    <div class=' center-align'>
      <input type="submit" value="Search" class='col s12 btn green'>
    </div>
  </form>
</div>


{% if treatments %}
  {% for treatment in treatments %}
  <div class="col s12 m7">
    <h2 class="header"></h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{ treatment.image }}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3>{{ treatment.name }}</h3>
          <p>Price: ${{ treatment.price }}</p>

        </div>
        <div class="card-action">
          <a href="{% url 'treatments_detail' treatment.id %}">Details</a>
        
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


  {% comment %} Pagination {% endcomment %}
  {% if treatments.has_other_pages %}
      {% if treatments.has_previous %}
        <li class="waves-effect"><a href="?page={{ treatments.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
        <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
      {% endif %}

      {% for index in treatments.paginator.page_range %}
        {% if treatments.number == index %}
          <li class="active waves-effect"><a>{{ index }}</a></li> 
        {% else %}
          <li class="waves-effect"><a href="?page={{ index }}">{{ index }}</a></li>
        {% endif %}
      {% endfor %}

      {% if treatments.has_next %}
        <li class="waves-effect"><a href="?page={{ treatments.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
        <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    </ul>  
  {% endif %}
{% endif %}

{% endblock %}